html, body{ 
  background: #fff7e7;
  margin: 0 auto;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@media only screen and (max-width: 800px) {
    div.contact {
      font-size: 40px;
    }
  }

  @media only screen and (min-width: 390px) and (orientation: landscape) {
    div.contact {
      font-size: 54px;
    }
  }

@media only screen and (min-width: 844px) and (orientation: portrait) {
    div.contact {
      font-size: 54px;
    }
  }  

@media only screen and (min-height: 844px) {
    div.contact {
      font-size: 54px;
    }
  }  

@media only screen and (min-width: 390px) {
    div.contact {
      font-size: 54px;
    }
  }  

@media only screen and (-webkit-min-device-pixel-ratio: 3),
    only screen and (min--moz-device-pixel-ratio: 3),
    only screen and (-o-min-device-pixel-ratio: 3/1),
    only screen and (min-device-pixel-ratio: 3) {
    div.contact {
      font-size: 54px;
    }
  }

svg {
    top: 50%;
    left: 50%;
    position: absolute;
    max-height:15cm;
    max-width:15cm;
    width: 20%;
    height: 20%;
    transform: translate(50%, 50%);
  }

.content {
    height:100%;
    width:100%;
    margin: 0 auto;
    padding: 0.5em;
}

.logo {
    transform-origin: 50% 50%;
    animation: spin 40s infinite linear;
    max-height:15rem;
    max-width:15rem;
    height:100%;
    width:100%;
    margin: 0 auto;
}

.table {
    display: block;
    position: static;
    height:100%;
    width:100%;
    margin: 0 auto;
}

.contact {
    display: block;
    position: static;
    top: 0;
    width:100%;
    text-align: center;
    font-family: sans-serif; 
    font-weight: normal; 
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0.25px;
    margin: 0 auto;
    padding: 0 0 0.5em 0.5em;
}

p {
    padding: 0.15em 0.15em 0em 0em;
}

a { text-decoration: none;
    color: rgba(0,0,0,0.85);
}

a.four:link {-webkit-text-stroke-width: 0.000001px; -webkit-text-stroke-color: rgb(0, 0, 0);}
a.four:visited {-webkit-text-stroke-width: 0.000001px; -webkit-text-stroke-color: red;}
a.four:hover {color: red;}